<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_sanscore._tcp</string>
		<string>_sanscore._udp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Sanscore uses the local network to find and join nearby game rooms on the same Wi-Fi.</string>
</dict>
</plist>
